footer {
    border-top: 2px solid #bebaba;
    margin-bottom: 30px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

#bottomMenu {
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 auto;
}

#logo {
    margin-left: 20px;
    margin-top: 30px;
    width: 250px;
    height: 92px;
}

#link {
    margin-top: 65px;
    margin-left: 40px;
}

#link li {
    float: left;
    padding: 5px 20px;
    border-right: 1px solid #ddd;
    font-size: 16px;
}

#link li a {
    color: #666060;
}

#link li:last-child {
    border: none;
}

#sns {
    margin-top: 50px;
    margin-left: 200px;
}

#sns ul li {
    float: right;
    border: none;
    padding: 15px;
}

#company {
    width: 1050px;
    margin-top: 18px;
    font-size: 16px;
    color: #aaa;
    margin-left: auto;
    margin-right: auto;
}

