/*gympage, gympageNM css*/

#result {
    margin: 150px auto 100px auto;
    width: 100%;
    max-width: 1000px;
    background-color: #f8f7f7;
}

#imageContainer {
    position: relative;
    display: inline-block;

}
.body-g div{
    box-sizing: border-box;
    position: relative;
    height: 90px;
}

.back {
    text-decoration: none;
    cursor: pointer;
    color: white;
    padding: 4px 10px;
    margin-top: 10px;
    margin-left: 10px;
    /* display: inline-block; */
    position: absolute;
    border-bottom: 4px solid rgba(0,0,0,0.21);
    border-radius: 15px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    background: rgb(101, 168, 245);
    font-size: 13px;
}

.back:hover {
    color: #2c7fdf;
}

.gymimg {
    width: 1000px;
    height: 750px;
}

.gymmake {
    position: absolute;
    bottom: 20px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    width: 5%;
}

hr {
    background: #ddd;
    height: 1px;
    border: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}

.intro {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    gap: 5px;
    padding: 30px 22px 0px;
}

.intro-name {
    font-size: 24px;
    line-height: 115%;
    font-weight: 700;
    text-align: left;
    letter-spacing: -0.2px;
    color: rgb(88, 89, 91);
    white-space: pre-line;
    word-break: keep-all;
}

.intro-addr {
    margin-top: 10px;
}

.intro-star {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 10px;
}

.star-ratings-fill {
    color: rgba(250, 208, 0, 0.99);
    font-size: 100%
}

.body-title {
    font-size: 17px;
    margin: 3px 0;
}

.body-sub-title {
    font-size: 14px;
    margin: 3px 0;
    font-weight: 300;
    color: #2c7fdf;
}


.tmemo {
    line-height: 115%;
    font-weight: 700;
    text-align: left;
    letter-spacing: -0.2px;
    color: rgb(88, 89, 91);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 10px 0;
}

.memo {
    font-size: 15px;
    line-height: 115%;
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.2px;
    color: rgb(88, 89, 91);
    border: none;
    box-sizing: border-box;
    border-radius: 10px;
    white-space: pre-line;
    word-break: keep-all;
}

.memo-2 {
    font-size: 14px;
}

.body-i {
    line-height: 150%;
    background: rgb(251, 251, 251);
    border: 1px solid rgb(238, 238, 238);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 30px 15px;
}

.body-p {
    width: 100%;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 80px;
}

.sp {
    margin-top: 10px;
}

.card-t {
    width: 170px;
    height: 230px;
    border-radius: 10px;
    cursor: pointer;
}

.goods-div {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.body-g {
    width: 30%;
    line-height: 150%;
    background: rgb(251, 251, 251);
    border: 3px solid rgb(238, 238, 238);
    border-radius: 30px;
    box-sizing: border-box;
    padding: 0px 15px;
    position: relative;
    text-align: center;
    margin: 20px 50px;
    cursor: pointer;
}

.body-g:hover{
    border: 3px solid #2c7fdf;
}
.body-g:hover >div>a{
    color: #2c7fdf;
}

.body-g a{
    font-size: 20px;
    font-weight: 600;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.body-g a:hover{
    color: #2c7fdf;
}

/*이용후기*/
.body-r {
    width: 100%;
    height: 50px;
    background: rgb(251, 251, 251);
    border: 3px solid rgb(238, 238, 238);
    border-radius: 30px;
    position: relative;
    text-align: center;
    margin: 20px 0;
    cursor: pointer;
}

.body-r:hover{
    border: 3px solid #2c7fdf;
}

.body-r a{
    font-size: 15px;
    font-weight: 600;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.body-r:hover > a {
    color: #2c7fdf;
}


.card-t:hover{
    border: 3px solid #2c7fdf;
}


#map {
    width: 956px;
    height: 500px;
}
