/*폰트*/
@font-face {
    font-family: "SpoqaHanSansNeo";
    src: url("../font/SpoqaHanSans/SpoqaHanSansNeo-Thin.woff2") format('woff2'),url("../font/SpoqaHanSans/SpoqaHanSansNeo-Thin.woff") format("woff"),url("../font/SpoqaHanSans/SpoqaHanSansNeo-Thin.eot") format("embedded-opentype"),url("../font/SpoqaHanSans/SpoqaHanSansNeo-Thin.eot?#iefix") format("embedded-opentype");
    unicode-range: U+000-5FF,U+AC00-D7AF;
    font-weight: 100;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "SpoqaHanSansNeo";
    src: url("../font/SpoqaHanSans/SpoqaHanSansNeo-Light.woff2") format('woff2'),url("../font/SpoqaHanSans/SpoqaHanSansNeo-Light.woff") format("woff"),url("../font/SpoqaHanSans/SpoqaHanSansNeo-Light.eot") format("embedded-opentype"),url("../font/SpoqaHanSans/SpoqaHanSansNeo-Light.eot?#iefix") format("embedded-opentype");
    unicode-range: U+000-5FF,U+AC00-D7AF;
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "SpoqaHanSansNeo";
    src: url("../font/SpoqaHanSans/SpoqaHanSansNeo-Regular.woff2") format('woff2'),url("../font/SpoqaHanSans/SpoqaHanSansNeo-Regular.woff") format("woff"),url("../font/SpoqaHanSans/SpoqaHanSansNeo-Regular.eot") format("embedded-opentype"),url("../font/SpoqaHanSans/SpoqaHanSansNeo-Regular.eot?#iefix") format("embedded-opentype");
    unicode-range: U+000-5FF,U+AC00-D7AF;
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "SpoqaHanSansNeo";
    src: url("../font/SpoqaHanSans/SpoqaHanSansNeo-Medium.woff2") format('woff2'),url("../font/SpoqaHanSans/SpoqaHanSansNeo-Medium.woff") format("woff"),url("../font/SpoqaHanSans/SpoqaHanSansNeo-Medium.eot") format("embedded-opentype"),url("../font/SpoqaHanSans/SpoqaHanSansNeo-Medium.eot?#iefix") format("embedded-opentype");
    unicode-range: U+000-5FF,U+AC00-D7AF;
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "SpoqaHanSansNeo";
    src: url("../font/SpoqaHanSans/SpoqaHanSansNeo-Bold.woff2") format('woff2'),url("../font/SpoqaHanSans/SpoqaHanSansNeo-Bold.woff") format("woff"),url("../font/SpoqaHanSans/SpoqaHanSansNeo-Bold.eot") format("embedded-opentype"),url("../font/SpoqaHanSans/SpoqaHanSansNeo-Bold.eot?#iefix") format("embedded-opentype");
    unicode-range: U+000-5FF,U+AC00-D7AF;
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

/*전체*/

* {
    margin: 0;
    padding: 0;
}

.renewal * {
    font-family: "Inter", "SpoqaHanSansNeo", "notokr", "Malgun Gothic", Dotum, Helvetica, "Apple SD Gothic Neo", Sans-serif;
}

/*바디*/

.wrap {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.login-header {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}

/*.login-forminput [type="password"]{*/
/*    margin-bottom: 10px;*/
/*}*/

.login-input {
    margin-bottom: 2px;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 2px solid #ccc;
}

.login-mgender {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-top: 5px;
}

.login-input2 {
    margin: 0 10px;
}

.login-find {
    margin: 100px 0;
    float: left;
}

.login-btn {
    background-color: #394f77;
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


.idcheck-btn,
.emailsend-btn,
.emailcheck-btn,
.nicknamecheck-btn,
.mailcheck-btn {
    background-color: #219dd2;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: bold;
    outline: none;
}

.emailsend-btn {
    margin-bottom: 2px;
    background-color: #2c7fdf;
}

.emailcheck-btn {
    background-color: #2c7fdf;
}

.idcheck-btn:hover,
.emailsend-btn:hover,
.emailcheck-btn:hover,
.nicknamecheck-btn:hover,
.mailcheck-btn:hover,
.login-btn:hover {
    opacity: 0.8;
}

ul>li{list-style: none}

.login-form {
    margin: 200px 0;
    display: flex;
    flex-direction: column;

}
.idid{
    text-align: center;
    margin-bottom: 10px;
}

.idtext{
    float: left;
    width: 200px;
    text-align: right;
    font-size: 20px;
    margin-top: 5px;

}
.idres{
    margin-left: 10px;
    display: inline-block;
    /*float: right;*/
    width: 190px;
    height: 30px;
    font-size: 25px;
    font-weight: bold;
}


.btn {
    background-color: #219dd2;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: bold;
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footBtwrap{
    margin-top: 250px;
    margin-bottom: 150px;
    min-height: 200px;
    /*display: flex;*/
    /*flex-direction: column;*/
}

.footBtwrap a{
    cursor: pointer;
}

.linkfindid{
    color: black;
    margin-top: 10px;
    text-align: center;
}

.effectiveness{
    opacity: 0.4;
    margin-bottom: 2px;
    margin-left: 2px;
    line-height: 20px;
}