<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset='utf-8'>
  <title>오짐 - 기록</title>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="/images/header/lgo_face.ico">
  <link rel="stylesheet" th:href="@{css/font.css}">
  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      z-index: 0;
      margin-top: 230px;
      margin-bottom: 20px;
      padding: 0;
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 14px;
    }

    #calendar {
      max-width: 1100px;
      margin: 0 auto;
      background-color: #ffffff;
    }
    .fc-day-sun a {
      color: red;
      text-decoration: none;
    }
    /* 토요일 날짜 파란색 */
    .fc-day-sat a {
      color: blue;
      text-decoration: none;
    }
    /*.fc-day a {*/
    /*  color: #000000;*/
    /*}*/

  </style>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  <script src='../js/index.global.js'></script>
  <script th:inline="javascript">

      let cList = [[${cList}]];
      console.log(cList);
      //function (){
      let eList = new Array();
      console.log(cList);
      for (let i = 0; i < cList.length; i++) {
        let cItem = cList[i];
        console.log(cItem);
        let calcontent =
                {
                  calendarnum: cItem.calendarnum,
                  title: cItem.title,
                  start: cItem.start,
                  end: cItem.end,
                  allDay: cItem.allDay
                };
        console.log(calcontent);
        //calendar.addEvent(calcontent);
        eList.push(calcontent);

      }
      console.log(eList);

      function dateFormat(date) {
        let dateFormat2 = date.getFullYear() + '-' +
                ((date.getMonth() + 1) < 10 ? "0" + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' +
                ((date.getDate()) < 10 ? "0" + (date.getDate()) : (date.getDate())) + ' ' +
                ((date.getHours()) < 10 ? "0" + (date.getHours()) : (date.getHours())) + ":" +
                ((date.getMinutes()) < 10 ? "0" + (date.getMinutes()) : (date.getMinutes()));
        return dateFormat2;
      }

      document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        //console.log(cList);

        var calendar = new FullCalendar.Calendar(calendarEl, {
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: ''
          },
          buttonText: {
            today:'오늘'
          },
          locale: "ko",
          navLinks: true, // can click day/week names to navigate views
          selectable: true,
          selectMirror: true,
          select: function (arg) {
            $('#myModal').modal('show');
            // var title = prompt('무엇을 기록할까요?');
            //
            // if (title == "" || title == null){
            //   alert("내용을 입력해주세요");
            //   return;
            // }


            let membernum = [[${session.member.membernum}]];
            let startA = dateFormat(arg.start);
            let endA = dateFormat(arg.end);

            let result = {
              "membernum": membernum,
              "title": title,
              "start": startA,
              "end": endA,
              "allDay": arg.allDay
            }
            console.log(result);

            $.ajax({
              url: 'insertCal',
              type: 'post',
              data: result,
              success: function (res) {
                if (res == "ok") {
                  if (title) {
                    calendar.addEvent({
                      title: title,
                      start: arg.start,
                      end: arg.end,
                      allDay: arg.allDay
                    })
                  }
                  calendar.unselect();
                  location.reload();
                  console.log(res);
                } else {
                  alert("등록에 실패하였습니다.")
                }
              },
              error: function (err) {
                alert("등록에 실패하였습니다.");
              }
            });


          },
          eventClick: function (arg) {
            if (confirm('삭제하시겠습니까?')) {
              console.log(arg.event._def.extendedProps.calendarnum);
              let calendarnum = arg.event._def.extendedProps.calendarnum;
              location.href = "calDelete?calendarnum=" + calendarnum;
              arg.event.remove()
            }
          },
          editable: true,
          dayMaxEvents: true, // allow "more" link when too many events
          events: eList
        });

        calendar.render();

      });

  </script>

</head>
<th:block>
  <th:block th:insert="~{headerC.html}"></th:block>
</th:block>
<body class="renewal">
<div id="wrap">
  <div id='calendar'></div>
</div>

<br><br><br><br><br><br>

<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- 스프링부트 타임리프의 form action 사용 -->
      <form id="modalForm" th:action="@{/insertCal}" method="post">
        <div class="modal-header">
          <h5 class="modal-title">식단 및 운동 기록</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="닫기">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="diet">식단</label>
            <input type="text" class="form-control" id="diet" name="diet" placeholder="식단 내용을 입력하세요">
          </div>
          <div class="form-group">
            <label for="exercise">운동</label>
            <input type="text" class="form-control" id="exercise" name="exercise" placeholder="운동 내용을 입력하세요">
          </div>
          <!-- 선택된 날짜를 저장하는 hidden 필드 -->
          <input type="hidden" id="startDate" name="start">
          <input type="hidden" id="endDate" name="end">
          <!-- 세션에 저장된 회원 번호 (타임리프 변수 사용) -->
          <input type="hidden" name="membernum" th:value="${session.member.membernum}">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">저장</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
<th:block>
  <th:block th:insert="~{footer.html}"></th:block>
</th:block>
</html>

