<link rel="stylesheet" th:href="@{css/footer.css}">
<footer class="footer">
    <div id="bottomMenu">
        <li id="logoli"><a th:href="@{/}"}><img id="logo" src="images/logo_sub2.png"></a></li>
        <div id="link">
            <li><a th:href="@{introduce}">회사 소개</a></li>
            <li><a th:href="@{terms}">이용약관</a></li>
            <li><a th:href="@{guide}">오짐가이드</a></li>
            <li><a th:href="@{faq}">FAQ</a></li>
        </div>
        <div id="sns">
            <ul>
                <li><a href="#"><img src="images/sns-1.png"></a></li>
                <li><a href="#"><img src="images/sns-2.png"></a></li>
                <li><a href="#"><img src="images/sns-3.png"></a></li>
            </ul>
        </div>
    </div>
    <div id="company">
        인천 미추홀구 매소홀로488번길 6-32 태승빌딩 5층 (대표전화) 032-876-3332
    </div>
</footer>