<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="js/jquery-3.7.0.min.js"></script>
    <title>오짐 - 가이드</title>
  <link rel="shortcut icon" href="/images/header/lgo_face.ico">
    <link rel="stylesheet" th:href="@{css/font.css}">
    <link rel="stylesheet" th:href="@{css/introduce.css}">
<style>
  section {
    margin-top: 200px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  div img {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: block;
  }

  section > h1,h2,h3,p {
    text-align: center;
  }

  div {
    margin-bottom: 250px;
  }

  .gu {
    margin-top: 50px;
  }

</style>
</head>
<body class="renewal">
<header class="header">
  <th:block th:if="${gym == null}">
    <th:block th:insert="~{header.html}"></th:block>
  </th:block>
  <th:block th:unless="${gym == null}">
    <th:block th:insert="~{headerGym.html}"></th:block>
  </th:block>

</header>

<div class="guide_content">
  <section>

    <h1>오짐 가이드</h1>

    <div>
      <h2>기능1. 검색</h2>
      <img src="images/guide/search_01.png">
      <h3>필터기능</h3>
      <img src="images/guide/search_02.png">
      <h3>필터 팝업</h3>
      <img src="images/guide/search_03.png">
      <p><span style="color: red">중복 선택 불가 항목</span> : 종류, 트레이너</p>
      <p><span style="color: blue">중복 선택 가능 항목</span> : 시설 및 기구(편의시설, 기구)</p>
      <p><span style="color: green">적용하기 클릭!</span></p>
      <h3>맞춤 검색 결과</h3>
      <img src="images/guide/search_04.png">
    </div>

    <div>
      <h2>기능2. 찜</h2>
      <img src="images/guide/wish_01.png">
      <p>
        회원만 이용할 수 있는 기능입니다.<br>
        먼저 로그인을 해주세요.<br>
        회원이 아니라면 회원가입 먼저!
      </p>
      <img src="images/guide/wish_02.png">
      <p>검색 페이지에서 원하는 헬스장 클릭</p>
      <img src="images/guide/wish_03.png">
      <p>하트 클릭♡</p>
      <img src="images/guide/wish_04.png">
      <p>해당 헬스장 찜 완료♥</p>
      <img src="images/guide/wish_05.png">
      <p>마이페이지 찜목록에서 확인 가능</p>
    </div>

    <div>
      <h2>기능3. 결제</h2>
      <img src="images/guide/pay_01.png">
      <p>헬스장 상세 페이지에서 원하는 상품 종류 클릭</p>
      <h3 class="gu"><회원권 선택></h3>
      <img src="images/guide/pay_02.png">
      <p>날짜와 원하는 상품 선택 후 결제</p>
      <img src="images/guide/pay_03.png">
      <p>결제 완료</p>
      <h3 class="gu"><일일권 선택></h3>
      <img src="images/guide/pay_04.png">
      <p>날짜 선택 후 결제</p>
      <img src="images/guide/pay_05.png">
      <p>결제 완료</p>
      <h3 class="gu"><PT 선택></h3>
      <img src="images/guide/pay_06.png">
      <p>원하는 상품과</p>
      <img src="images/guide/pay_07.png">
      <p>날짜 선택 후 결제</p>
      <img src="images/guide/pay_08.png">
      <p>결제 완료</p>
      <br>
      <img src="images/guide/pay_09.png">
      <p>마이페이지 결제내역에서 확인 가능</p>
    </div>

    <div>
      <h2>기능4. 후기</h2>
      <img src="images/guide/review_01.png">
      <p>
        마이페이지에서 결제내역에서 후기 등록 버튼 클릭시<br>
        후기 작성란 생성<br>
        별점과 내용 입력 후 등록 클릭
      </p>
      <img src="images/guide/review_02.png">
      <p>
        후기 삭제 버튼 클릭 후<br>
        작성한 후기 확인 후<br>
        후기삭제 버튼으로 삭제 가능
      </p>
    </div>

    <div>
      <h2>기능5. 지도</h2>
      <img src="images/guide/map_01.png">
      <img src="images/guide/map_02.png">
      <p>지도에서 현위치 클릭시</p>
      <img src="images/guide/map_03.png">
      <p>내 주위 헬스장 한눈에 보기 가능</p>
      <img src="images/guide/map_04.png">
      <p>내 주위 트레이너 한눈에 보기 가능</p>
      <img src="images/guide/map_05.png">
      <p>특정 헬스장 검색도 가능</p>
      <img src="images/guide/map_06.png">
      <p>마커 클릭 시 헬스장 및 트레이너 정보 도출</p>
      <img src="images/guide/map_07.png">
      <p>클릭 시 헬스장 상세페이지로 이동</p>
    </div>

<!--    <div>-->
<!--      <h2>기능6. 예약 및 채팅</h2>-->
<!--      <img src="images/ponyo.jpg">-->
<!--      <p>헬스장 상세 페이지에서</p>-->
<!--      <img src="images/ponyo.jpg">-->
<!--      <p>트레이너 선택 후 채팅 시작</p>-->
<!--      <img src="images/ponyo.jpg">-->
<!--      <p>트레이너와 시간 조율 후 예약!</p>-->
<!--      <img src="images/ponyo.jpg">-->
<!--      <p>아무페이지에서나 채팅 아이콘 선택 시 채팅 시작~</p>-->
<!--    </div>-->

    <div>
      <h2>기능6. 커뮤니티</h2>
      <img src="images/guide/board_01.png">
      <p>오짐을 이용하는 다양한 사람들과의 소통의 장</p>
      <img src="images/guide/board_02.png">
      <p>조회수 많은 글은 메인페이지에 인기글로 등극</p>
    </div>

<!--    <div>-->
<!--      <h2>기능8. 다이어리</h2>-->
<!--      <img src="images/ponyo.jpg">-->
<!--      <p>캘린더 페이지에서 달마다 나의 기록 한눈에 보기</p>-->
<!--      <p>다이어리 내용 추가도 가능</p>-->
<!--      <img src="images/ponyo.jpg">-->
<!--      <p>식단, 운동, 생활, 신체 페이지에서 상세 내용 보기</p>-->
<!--      <img src="images/ponyo.jpg">-->
<!--      <p>다양하게 작성하고 분석하여 건강한 다이어리 만들자!</p>-->
<!--      <p>클릭 시 헬스장 상세페이지로 이동</p>-->
<!--    </div>-->

<!--    <div>-->
<!--      <h2>기능9. 헬스장 등록(헬스장 회원)</h2>-->
<!--      <img src="images/ponyo.jpg">-->
<!--      <p>메인페이지에서 등록 클릭</p>-->
<!--      <img src="images/ponyo.jpg">-->
<!--      <p>형식에 맞게 헬스장 정보 기입</p>-->
<!--      <img src="images/ponyo.jpg">-->
<!--      <p>헬스장 등록하고 득근하세요~!</p>-->
<!--    </div>-->
  </section>
</div><!--guide_content-->


<footer class="footer" style="margin-top: 200px">
  <th:block th:insert="~{footer.html}"></th:block>
</footer>

</body>
</html>