<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guide</title>
    <link rel="stylesheet" th:href="@{css/introduce.css}">

</head>
<body>
<header class="header">
  <th:block th:if="${gym} == null">
    <th:block th:insert="~{header.html}"></th:block>
  </th:block>
  <th:block th:unless="${gym} == null">
    <th:block th:insert="~{headerGym.html}"></th:block>
  </th:block>

</header>

<section style="margin-top: 200px">

  <h1>오짐 가이드</h1>

  <div>
    <h2>기능1. 검색</h2>
    <img src="images/ponyo.jpg">
    <h3>필터기능</h3>
    <img src="images/ponyo.jpg">
    <p>중복 선택 불가 항목 : </p>
    <p>중복 선택 가능 항목 : </p>
  </div>

  <div>
    <h2>기능2. 찜</h2>
    <img src="images/ponyo.jpg">
    <p>맘에 드는 헬스장 찜!</p>
    <img src="images/ponyo.jpg">
    <p>마이페이지 찜목록에서 확인 가능</p>
  </div>

  <div>
    <h2>기능3. 결제</h2>
    <img src="images/ponyo.jpg">
    <p>헬스장 상세 페이지에서</p>
    <img src="images/ponyo.jpg">
    <p>상품 선택 후 결제!</p>
  </div>

  <div>
    <h2>기능4. 예약 및 채팅</h2>
    <img src="images/ponyo.jpg">
    <p>헬스장 상세 페이지에서</p>
    <img src="images/ponyo.jpg">
    <p>트레이너 선택 후 채팅 시작</p>
    <img src="images/ponyo.jpg">
    <p>트레이너와 시간 조율 후 예약!</p>
    <img src="images/ponyo.jpg">
    <p>아무페이지에서나 채팅 아이콘 선택 시 채팅 시작~</p>
  </div>

  <div>
    <h2>기능5. 지도</h2>
    <img src="images/ponyo.jpg">
    <p>지도에서 현위치 클릭시</p>
    <img src="images/ponyo.jpg">
    <p>내 주위 헬스장 트레이너 한눈에 보기 가능</p>
    <img src="images/ponyo.jpg">
    <p>특정 헬스장 검색도 가능</p>
    <img src="images/ponyo.jpg">
    <p>마커 클릭 시 헬스장 및 트레이너 정보 도출</p>
    <img src="images/ponyo.jpg">
    <p>클릭 시 헬스장 상세페이지로 이동</p>
  </div>

  <div>
    <h2>기능6. 후기</h2>
    <img src="images/ponyo.jpg">
    <p>마이페이지에서 결제내역에서 후기 작성 가능</p>
    <img src="images/ponyo.jpg">
    <p>다른 사람들의 후기를 참고하여 나에게 맞는 헬스장 선별</p>
  </div>

  <div>
    <h2>기능7. 커뮤니티</h2>
    <img src="images/ponyo.jpg">
    <p>오짐을 이용하는 다양한 사람들과의 소통의 장</p>
    <img src="images/ponyo.jpg">
    <p>조회수 많은 글은 메인페이지에 인기글로 등극</p>
  </div>

  <div>
    <h2>기능8. 다이어리</h2>
    <img src="images/ponyo.jpg">
    <p>캘린더 페이지에서 달마다 나의 기록 한눈에 보기</p>
    <p>다이어리 내용 추가도 가능</p>
    <img src="images/ponyo.jpg">
    <p>식단, 운동, 생활, 신체 페이지에서 상세 내용 보기</p>
    <img src="images/ponyo.jpg">
    <p>다양하게 작성하고 분석하여 건강한 다이어리 만들자!</p>
    <p>클릭 시 헬스장 상세페이지로 이동</p>
  </div>

  <div>
    <h2>기능9. 헬스장 등록(헬스장 회원)</h2>
    <img src="images/ponyo.jpg">
    <p>메인페이지에서 등록 클릭</p>
    <img src="images/ponyo.jpg">
    <p>형식에 맞게 헬스장 정보 기입</p>
    <img src="images/ponyo.jpg">
    <p>헬스장 등록하고 득근하세요~!</p>
  </div>

</section>

<footer class="footer" style="margin-top: 200px">
  <th:block th:insert="~{footer.html}"></th:block>
</footer>

</body>
</html>