<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="js/jquery-3.7.0.min.js"></script>
    <title>오짐 - 가이드</title>
  <link rel="shortcut icon" href="/images/header/lgo_face.ico">
    <link rel="stylesheet" th:href="@{css/font.css}">
    <link rel="stylesheet" th:href="@{css/introduce.css}">
<style>
  section {
    margin-top: 200px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  div img {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: block;
  }

  section > h1,h2,h3,p {
    text-align: center;
  }

  section > h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .h2 {
    font-size: 50px;
    background-color: #44a5dc;
    width: 250px;
    margin: 30px auto;
  }

  div {
    margin-bottom: 250px;
  }

  .gu {
    margin-top: 50px;
    font-size: 50px;
    font-weight: bolder;
  }

  .p1 {
    font-size: 25px;
  }

  .p1d {
    width: 400px;
    margin: 0 auto;

  }

  .p1s {
    color: #2C7FDF;
  }

  .p1i {
    width: 300px;
    margin-top: 20px;
  }

  .p2 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .p3 {
    font-size: 25px;
  }

  .p2s {
    color: red;
  }
</style>
</head>
<body class="renewal">
<header class="header">
  <th:block th:if="${gym == null}">
    <th:block th:insert="~{header.html}"></th:block>
  </th:block>
  <th:block th:unless="${gym == null}">
    <th:block th:insert="~{headerGym.html}"></th:block>
  </th:block>

</header>

<div class="guide_content">
  <section>

    <h1>당신이 모를 수도 있는 오짐 기능들</h1>
    <div class="p1d">
    <p class="p1">1. 맞춤 <span class="p1s">검색</span> 하자</p>
      <p class="p1">2. 원하는 헬스장만 모아서 <span class="p1s">찜♥</span></p>
      <p class="p1">3. 간편하고 쉬운 <span class="p1s">결제</span></p>
      <p class="p1">4. 이제 <span class="p1s">후기</span>보고 결정하자</p>
      <p class="p1">5. 내 주변 헬스장을 <span class="p1s">지도</span>로?!</p>
      <p class="p1">6. 모두 소통해요! <span class="p1s">커뮤니티</span></p>
    </div>
    <img src="images/logo_sub.png" class="p1i">
    <p class="p1" style="margin-bottom: 250px">지금 시작해요~!</p>

    <div>
      <p class="h2">기능1. 검색</p>
      <img src="images/guide/search_01.png">
      <p class="p2">검색클릭</p>
      <img src="images/guide/search_02.png">
      <p class="p2">필터클릭</p>
      <img src="images/guide/search_03.png">
      <p class="p2">필터 팝업</p>
      <p class="p3"><span style="color: #ee7777">중복 선택 불가 항목</span> : 종류, 트레이너</p>
      <p class="p3"><span style="color: #7979f5">중복 선택 가능 항목</span> : 시설 및 기구(편의시설, 기구)</p>
      <p class="p3"><span style="color: #5abd5a">적용하기 클릭!</span></p>
      <img src="images/guide/search_04.png">
      <p class="p2">맞춤 검색 결과</p>
    </div>

    <div>
      <p class="h2">기능2. 찜</p>
      <img src="images/guide/wish_01.png">
      <p class="p3">
        회원만 이용할 수 있는 기능입니다.<br>
        먼저 로그인을 해주세요.<br>
        회원이 아니라면 회원가입 먼저!
      </p>
      <img src="images/guide/wish_02.png">
      <p class="p2">검색 페이지에서 원하는 헬스장 클릭</p>
      <img src="images/guide/wish_03.png">
      <p class="p2">하트 클릭<span class="p2s">♡</span></p>
      <img src="images/guide/wish_04.png">
      <p class="p2">해당 헬스장 찜 완료<span class="p2s">♥</span></p>
      <img src="images/guide/wish_05.png">
      <p class="p2">마이페이지 찜목록에서 확인 가능</p>
    </div>

    <div>
      <p class="h2">기능3. 결제</p>
      <img src="images/guide/pay_01.png">
      <p class="p2">헬스장 상세 페이지에서 원하는 상품 종류 클릭</p>
      <p class="gu">< 회원권 선택 ></p>
      <img src="images/guide/pay_02.png">
      <p class="p2">날짜와 원하는 상품 선택 후 결제</p>
      <img src="images/guide/pay_03.png">
      <p class="p2">결제 완료</p>
      <p class="gu">< 일일권 선택 ></p>
      <img src="images/guide/pay_04.png">
      <p class="p2">날짜 선택 후 결제</p>
      <img src="images/guide/pay_05.png">
      <p class="p2">결제 완료</p>
      <p class="gu">< PT 선택 ></p>
      <img src="images/guide/pay_06.png">
      <p class="p2">원하는 상품과</p>
      <img src="images/guide/pay_07.png">
      <p class="p2">날짜 선택 후 결제</p>
      <img src="images/guide/pay_08.png">
      <p class="p2">결제 완료</p>
      <br>
      <img src="images/guide/pay_09.png">
      <p class="p2">마이페이지 결제내역에서 확인 가능</p>
    </div>

    <div>
      <p class="h2">기능4. 후기</p>
      <img src="images/guide/review_01.png">
      <p class="p3">
        마이페이지에서 결제내역에서 후기 등록 버튼 클릭시<br>
        후기 작성란 생성<br>
        별점과 내용 입력 후 등록 클릭
      </p>
      <img src="images/guide/review_02.png">
      <p class="p3">
        후기 삭제 버튼 클릭 후<br>
        작성한 후기 확인<br>
        후기삭제 버튼으로 삭제 가능
      </p>
    </div>

    <div>
      <p class="h2">기능5. 지도</p>
      <img src="images/guide/map_01.png">
      <p class="p2">지도 클릭</p>
      <img src="images/guide/map_02.png">
      <p class="p2">현위치로 내위치 확인 가능</p>
      <img src="images/guide/map_03.png">
      <p class="p2">내 주위 헬스장 한눈에 보기 가능</p>
      <img src="images/guide/map_04.png">
      <p class="p2">내 주위 트레이너 한눈에 보기 가능</p>
      <img src="images/guide/map_05.png">
      <p class="p2">특정 헬스장 검색도 가능</p>
      <img src="images/guide/map_06.png">
      <p class="p2">마커 클릭 시 헬스장 및 트레이너 정보 도출</p>
      <img src="images/guide/map_07.png">
      <p class="p2">클릭 시 헬스장 상세페이지로 이동</p>
    </div>

<!--    <div>-->
<!--      <h2>기능6. 예약 및 채팅</h2>-->
<!--      <img src="images/ponyo.jpg">-->
<!--      <p>헬스장 상세 페이지에서</p>-->
<!--      <img src="images/ponyo.jpg">-->
<!--      <p>트레이너 선택 후 채팅 시작</p>-->
<!--      <img src="images/ponyo.jpg">-->
<!--      <p>트레이너와 시간 조율 후 예약!</p>-->
<!--      <img src="images/ponyo.jpg">-->
<!--      <p>아무페이지에서나 채팅 아이콘 선택 시 채팅 시작~</p>-->
<!--    </div>-->

    <div>
      <p class="h2" style="width: 350px">기능6. 커뮤니티</p>
      <img src="images/guide/board_01.png">
      <p class="p2">오짐을 이용하는 다양한 사람들과의 소통의 장</p>
      <img src="images/guide/board_02.png">
      <p class="p2">조회수 많은 글은 메인페이지에 인기글로 등극</p>
    </div>

<!--    <div>-->
<!--      <h2>기능8. 다이어리</h2>-->
<!--      <img src="images/ponyo.jpg">-->
<!--      <p>캘린더 페이지에서 달마다 나의 기록 한눈에 보기</p>-->
<!--      <p>다이어리 내용 추가도 가능</p>-->
<!--      <img src="images/ponyo.jpg">-->
<!--      <p>식단, 운동, 생활, 신체 페이지에서 상세 내용 보기</p>-->
<!--      <img src="images/ponyo.jpg">-->
<!--      <p>다양하게 작성하고 분석하여 건강한 다이어리 만들자!</p>-->
<!--      <p>클릭 시 헬스장 상세페이지로 이동</p>-->
<!--    </div>-->

<!--    <div>-->
<!--      <h2>기능9. 헬스장 등록(헬스장 회원)</h2>-->
<!--      <img src="images/ponyo.jpg">-->
<!--      <p>메인페이지에서 등록 클릭</p>-->
<!--      <img src="images/ponyo.jpg">-->
<!--      <p>형식에 맞게 헬스장 정보 기입</p>-->
<!--      <img src="images/ponyo.jpg">-->
<!--      <p>헬스장 등록하고 득근하세요~!</p>-->
<!--    </div>-->
  </section>
</div><!--guide_content-->


<footer class="footer" style="margin-top: 200px">
  <th:block th:insert="~{footer.html}"></th:block>
</footer>

</body>
</html>