<!--<!DOCTYPE html>-->
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>home</title>-->
<!--    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>-->
<!--    <script th:inline="javascript">-->
<!--        $(function () {-->
<!--            let m = [[${msg}]];//msg가 없으면 null-->
<!--            if(m != null){-->
<!--                alert(m);-->
<!--                console.log(member);-->
<!--            }-->
<!--        });-->
<!--    </script>-->
<!--</head>-->
<!--<body>-->
<!--<button th:onclick="|location.href='@{loginForm}'|"> M.T 로그인 </button>-->
<!--<div th:if="${member == null}">-->
<!--    <p>멤버 정보 없음</p>-->
<!--</div>-->
<!--<div th:unless="${member == null}">-->
<!--&lt;!&ndash;    <div th:if="${member.gymnum == null}">&ndash;&gt;-->
<!--        <a th:href="@{memberMypage(membernum=${member.membernum})}">회원 마이페이지</a>-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div th:unless="${member.gymnum == null}">&ndash;&gt;-->
<!--        <a th:href="@{trainerMypage(membernum=${member.membernum})}">트레이너 마이페이지</a>-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--</div>-->
<!--<hr>-->
<!--<h1>헬스장</h1>-->
<!--<button th:onclick="|location.href='@{gymLoginForm}'|"> G 로그인 </button>-->
<!--<a th:href="@{gymMypage(gymnum=${gym.gymnum})}">헬스장 마이페이지</a>-->
<!--</body>-->
<!--<script th:inline="javascript">-->

<!--    let member = [[${member}]];-->
<!--    let mn;-->

<!--    if (member != null){-->
<!--        mn = member.membernum;-->
<!--    } else {-->
<!--        mn = 1;-->
<!--    }-->
<!--</script>-->
<!--</html>-->