<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>아이디찾음</title>
  <link rel="stylesheet" th:href="@{css/join.css}">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

</head>
<body>

<div class="wrap">
    <div class="idid">요청하신 아이디는 다음과 같습니다.</div>
    <div class="idtext">아이디 : </div>
    <div class="idres" th:text="${session.id}"></div>
    <div class="footBtwrap">
        <a th:href="@{loginIdOut}" class="btn" style="margin-top:20px;">login</a>
        <a th:href="@{passChange}" class="btn" style="background-color:#01a401;">비밀번호 재설정</a>
    </div>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script  th:inline="javascript">

</script>
</html>