<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>오짐 - 로그인</title>
    <link rel="shortcut icon" href="/images/header/lgo_face.ico">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{css/font.css}">
    <link rel="stylesheet" th:href="@{css/join.css}">
    <th:block th:insert="~{header.html}"></th:block>
</head>
<body class="renewal">
<div class="wrap">
    <div class="footBtwrap">
        <div class="idid">요청하신 아이디는 다음과 같습니다.</div>
        <div class="idwrap">
            <div class="idtext">아이디 :</div>
            <div class="idres" th:text="${session.id}"></div>
        </div>
        <a th:href="@{memberLoginForm}" class="btn" style="margin-top:20px; background-color: #219dd2">회원/트레이너 로그인</a>
        <a th:href="@{passChange}" class="btn" style="background-color: #394f77;">비밀번호 재설정</a>
    </div>
</div>

</body>
<footer class="footer">
    <th:block th:insert="~{footer.html}"></th:block>
</footer>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script th:inline="javascript">

</script>
</html>