<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>image</title>
    <link rel="stylesheet" th:href="@{css/image.css}">
    <script th:src="@{js/popup.js}" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</head>
<script th:inline="javascript">
    $(function () {
        let m = [[${msg}]];//msg가 없으면 null
        if(m != null){
            alert(m);
        }
    });

    const closePopup = function () {
        window.close(); // 팝업 창 종료
        window.opener.location.reload(); // 부모 창 새로고침
    };
</script>
<body>
<div id="popup" class="popup-hidden">
    <div class="popup-content">
        <form th:action="@{mImage}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="membernum" th:value="${member.membernum}">
            <div class="popup-top">
                <th:block th:if="${member.msysname} == null">
                    <img th:src="@{images/bbbbb.jpg}" height="100" width="100">
                </th:block>
                <th:block th:unless="${member.msysname} == null">
                    <img th:src="@{upload/} + ${member.msysname}" height="100" width="100">
                </th:block>
                <p th:text="${member.mname}"></p>
            </div>
            <div class="popup-middle">
                <input type="file" name="files" id="change-profile-btn">
                <input type="hidden" th:value="${member.moriname}" name="moriname">
                <input type="hidden" th:value="${member.msysname}" name="msysname">
            </div>
            <div class="popup-btns">
                <input type="button" value="닫기" onclick="closePopup()">
                <input type="submit" value="등록">
            </div>
        </form>
    </div>
</div>
</body>
</html>
