<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>오짐 - 헬스장 회원가입</title>
  <link rel="shortcut icon" href="/images/header/lgo_face.ico">
  <link rel="stylesheet" th:href="@{css/font.css}">
  <link rel="stylesheet" th:href="@{css/join.css}">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <th:block th:insert="~{header.html}"></th:block>
  <script th:inline="javascript">
    $(function (){
      let m = [[${msg}]]; //msg가 없으면 null.
      if (m != null){
        alert(m);
      }
    });
  </script>
</head>
<body class="renewal">

<div class="wrap">
  <form th:action="joinGymProc" method="post" class="login-form" name="jForm" onsubmit="return check()">
    <h2 class="login-header">헬스장회원 가입</h2>
    <input type="text" class="login-input" name="gname" title="헬스장 이름" placeholder="헬스장 이름" required autofocus>
    <input type="text" class="login-input" name="gregistnum" title="사업자 등록번호" placeholder="사업자 등록번호" style="margin-bottom: 10px;" required>
    <input type="text" class="login-input" id="gid" name="gid" title="관리자 아이디" autofocus placeholder="관리자아이디" required>
    <div class="effectiveness">* 4~12자의 영문 대소문자와 숫자로만 입력바랍니다.</div>
    <input type="button" class="idcheck-btn" value="중복확인" onclick="idcheck()">
    <input type="password" class="login-input" name="gpass" title="비밀번호" placeholder="비밀번호" required>
    <div class="effectiveness">* 4~12자의 영문 대소문자와 숫자로만 입력바랍니다.</div>
    <input type="text" class="login-input" name="gphone" title="연락처" placeholder="관리자 연락처" required>
    <div class="effectiveness">* (-)을 포함하여 입력바랍니다.</div>
    <input type="submit" class="login-btn" value="회원가입">
  </form>
</div>
</body>
<footer class="footer">
  <th:block th:insert="~{footer.html}"></th:block>
</footer>
<script  th:inline="javascript">

  ////////////////////////////////////////////유효성 검사/////////////////////////////////////////////////////////

  let ckID = RegExp(/^[a-zA-Z0-9]{4,12}$/); //4~12자의 영문 대소문자와 숫자로만 입력
  let ckPASS = RegExp(/^[a-zA-Z0-9]{4,12}$/); //4~12자의 영문 대소문자와 숫자로만 입력
  let ckNAME = RegExp(/^[가-힣]+$/) ; //한글만
  let ckPHONE = RegExp(/^[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}$/) ; //(010-1111-2222)


  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////



  //아이디 중복 체크
  let ck = false; //false일 경우 중복체크를 안했거나 중복된 아이디를 입력한 경우

  function idcheck(){
    let id = $("#gid").val();

    //id 값을 입력했는지 검사
    if (id == ""){ //입력을 안했을 경우
      alert("아이디를 입력하세요.");
      $("#gid").focus();
      return;
    }

    //아이디 유효성 검사
    if (!ckID.test(id)){
      alert("아이디 형식에 맞게 입력해주세요.");
      $("#gid").focus();
      return;
    }

    //전송할 데이터 작성
    let sendId = {"gid": id};
    console.log(sendId);

    //서버로 id 전송
    $.ajax({
      url: "gidCheck",
      type: "get",
      data: sendId,
      success: function (res){
        if (res == "ok"){
          alert("사용가능한 아이디입니다.")
          ck = true;
        } else {
          alert("중복된 아이디 입니다.");
          $("#gid").val("");
          $("#gid").focus();
          ck = false;
        }
      },
      error: function (err){
        console.log(err);
        ck = false;
      }
    });
  }//idcheck end


  //중복확인이 되었고, 모든 입력이 된 다음에 전송하도록 하는 함수 check() (+ onsubmit 속성)
  function check(){
    //아이디가 중복확인이 되었는가?
    if(ck == false){
      alert("아이디 중복 확인을 해주세요.");
      return false;//submit 중지!(전송 안됨)
    }

    //비밀번호 유효성 검사
    if (!ckPASS.test($("[name=gpass]").val())){
      alert("비밀번호 형식에 맞게 입력해주세요");
      return false;
    }

    //이름 유효성 검사
    if (!ckNAME.test($("[name=gname]").val())){
      alert("이름 형식에 맞게 입력해주세요");
      return false;
    }

    //전화번호 유효성 검사
    if (!ckPHONE.test($("[name=gphone]").val())){
      alert("잔화번호 형식에 맞게 입력해주세요");
      return false;
    }

    const jfrm = $("input [name=Form]");

    console.log(jfrm);

    let length = jfrm.length - 1; //submit 제외

    for (let i = 0; i <length; i++){
      if (jfrm[i].value == "" | jfrm[i].value == null){
        alert(jfrm[i].title + "입력!");
        jfrm[i].focus();
        return false;
      }
    }

    return true;
  }

</script>
</html>