<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>memberInfo</title>
    <link rel="stylesheet" th:href="@{css/info.css}">
    <script th:src="@{js/popup.js}" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script th:inline="javascript">
        $(function () {
            let m = [[${msg}]]; // msg 변수를 가져옴
            if (m != null) {
                alert(m); // 경고창 띄우기
                window.close();
                window.opener.location.reload();
            }
        });

        const closePopup = function () {
            window.close(); // 팝업 창 종료
            window.opener.location.reload(); // 부모 창 새로고침
        };

        const closePopupPass = function () {
            window.close(); // 팝업 창 종료
            window.opener.location.href = "loginfind"; // id찾기로 이동
        };
    </script>
</head>
<body>
<div id="info-popup" class="popup-hidden">
    <div class="popup-content">
        <form th:action="@{mtInfo}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="membernum" th:value="${member.membernum}">
            <div class="user-image">
                <th:block th:if="${member.msysname} == null">
                    <img th:src="@{images/bbbbb.jpg}" height="100" width="100">
                </th:block>
                <th:block th:unless="${member.msysname} == null">
                    <img th:src="@{upload/} + ${member.msysname}" height="100" width="100">
                </th:block>
                <p th:text="${member.mname}"></p>
            </div>
            <div class="popup-lmidde">
                <div>
                    <label>성별:</label>
                    <input type="text" name="mgender" th:value="${member.mgender}">
                </div>
                <div>
                    <label>전화번호:</label>
                    <input type="text" name="mphone" th:value="${member.mphone}">
                </div>
                <div>
                    <label>나의 다짐:</label>
                    <input type="text" name="mresolution" th:value="${member.mresolution}">
                </div>
                <div>
                    <label>관심 지역:</label>
                    <input type="text" name="mregion" th:value="${member.mregion}">
                </div>
            </div>
            <div class="passbtn">
                <input type="button" value="비밀번호 변경" onclick="closePopupPass()">
            </div>
            <div class="popup-btns">
                <input type="button" value="닫기" onclick="closePopup()">
                <input type="submit" value="등록">
            </div>
        </form>
    </div>
</div>
</body>
</html>