<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>오짐 - 이용약관</title>
    <link rel="shortcut icon" href="/images/header/lgo_face.ico">
    <link rel="stylesheet" th:href="@{css/font.css}">
    <link rel="stylesheet" th:href="@{css/styleHtml.css}">
    <th:block th:insert="~{header.html}"></th:block>
</head>
<body class="renewal">
<form action="" id="terms">
    <ul class="terms_box">
        <li class="terms_title">
            이용약관 동의
        </li>
        <li class="checkBox check01">
            <ul class="clearfix">
                <li class="checkAllBtn">
                    <input type="checkbox" name="chkAll" id="chkAll">
                </li>
                <li style="font-weight: bolder;">
                    <label for="chkAll">전체 이용약관에 동의합니다.</label>
                </li>
            </ul>
        </li>
        <li class="checkBox check02">
            <ul class="clearfix">
                <li class="checkBtn">
                    <input type="checkbox" name="chk"  id="chk_1" >
                </li>
                <li>
                    <label for="chk_1"><span style="color: #4848c5">[필수]</span>개인정보 수집·이용에 동의합니다.</label>
                </li>
            </ul>
            <textarea name="" id="">여러분을 환영합니다. 오짐을 이용해 주셔서 감사합니다. 본 약관은 오짐의 이용과 관련하여 오짐 서비스를 제공하는 오짐 주식회사와 이를 이용하는 오짐 서비스 회원(이하 ‘회원’) 또는 비회원과의 관계를 설명하며, 아울러 여러분의 오짐 서비스 이용에 도움이 될 수 있는 유익한 정보를 포함하고 있습니다.
            </textarea>
        </li>
        <li class="checkBox check03">
            <ul class="clearfix">
                <li class="checkBtn">
                    <input type="checkbox" name="chk" id="chk_2" >
                </li>
                <li>
                    <label for="chk_2"><span style="color: #4848c5">[필수]</span>이용약관에 동의합니다.</label>
                </li>
            </ul>
            <textarea name="" id="">여러분을 환영합니다. 오짐을 이용해 주셔서 감사합니다. 본 약관은 오짐의 이용과 관련하여 오짐 서비스를 제공하는 오짐 주식회사와 이를 이용하는 오짐 서비스 회원(이하 ‘회원’) 또는 비회원과의 관계를 설명하며, 아울러 여러분의 오짐 서비스 이용에 도움이 될 수 있는 유익한 정보를 포함하고 있습니다.
            </textarea>
        </li>
        <li class="checkBox check04">
            <ul class="clearfix">
                <li class="checkBtn">
                    <input type="checkbox" name="chk" id="chk_3" >
                </li>
                <li>
                    <label for="chk_3"><span style="color: #4848c5">[필수]</span>위치기반 서비스 약관에 동의합니다</label>
                </li>
            </ul>
            <textarea name="" id="">여러분을 환영합니다. 오짐을 이용해 주셔서 감사합니다. 본 약관은 오짐의 이용과 관련하여 오짐 서비스를 제공하는 오짐 주식회사와 이를 이용하는 오짐 서비스 회원(이하 ‘회원’) 또는 비회원과의 관계를 설명하며, 아울러 여러분의 오짐 서비스 이용에 도움이 될 수 있는 유익한 정보를 포함하고 있습니다.
            </textarea>
        </li>
        <li class="checkBox check05">
            <ul class="clearfix">
                <li class="checkBtn">
                    <input type="checkbox" name="chk" id="chk_4" >
                </li>
                <li>
                    <label for="chk_4"><span style="color: #4848c5">[필수]</span>만 14세 이상입니다.</label>
                </li>
            </ul>
            <textarea name="" id="">여러분을 환영합니다. 오짐을 이용해 주셔서 감사합니다. 본 약관은 오짐의 이용과 관련하여 오짐 서비스를 제공하는 오짐 주식회사와 이를 이용하는 오짐 서비스 회원(이하 ‘회원’) 또는 비회원과의 관계를 설명하며, 아울러 여러분의 오짐 서비스 이용에 도움이 될 수 있는 유익한 정보를 포함하고 있습니다.
            </textarea>
        </li>
        <li class="checkBox check06">
            <ul class="clearfix">
                <li class="checkBtn">
                    <input type="checkbox" name="chk" id="chk_5">
                </li>
                <li>
                    <label for="chk_5">마케팅 정보 수신에 동의합니다.</label>
                </li>
            </ul>
            <textarea name="" id="">여러분을 환영합니다. 오짐을 이용해 주셔서 감사합니다. 본 약관은 오짐의 이용과 관련하여 오짐 서비스를 제공하는 오짐 주식회사와 이를 이용하는 오짐 서비스 회원(이하 ‘회원’) 또는 비회원과의 관계를 설명하며, 아울러 여러분의 오짐 서비스 이용에 도움이 될 수 있는 유익한 정보를 포함하고 있습니다.
            </textarea>
        </li>
    </ul>
    <ul class="footBtwrap clearfix">
        <li><button type="button" class="btn1">일반 회원가입</button></li>
        <li><button type="button" class="btn2">헬스장 회원가입</button></li>
    </ul>
</form>
</body>
<footer class="footer">
    <th:block th:insert="~{footer.html}"></th:block>
</footer>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script  th:inline="javascript">
    $(document).ready(function (){
        $("#chkAll").click(function (){
            if ($("#chkAll").is(":checked")){
                $("input[name=chk]").prop("checked", true);
            }
            else{
                $("input[name=chk]").prop("checked", false);
            }
        });

        $("input[name=chk]").click(function (){
            let total = $("input[name=chk]").length;
            let checked = $("input[name=chk]:checked").length;

            if(total != checked){
                $("#chkAll").prop("checked", false);
            }
            else{
                $("#chkAll").prop("checked", true);
            }
        })


        $(".btn1").click(function(){
            if($("#chk_1").is(":checked") == false){
                alert("필수 약관에 동의 하셔야 다음 단계로 진행 가능합니다.");
                return;
            }else if($("#chk_2").is(":checked") == false){
                alert("필수 약관에 동의 하셔야 다음 단계로 진행 가능합니다.");
                return;
            }else if($("#chk_3").is(":checked") == false) {
                alert("필수 약관에 동의 하셔야 다음 단계로 진행 가능합니다.");
                return;
            }else if($("#chk_4").is(":checked") == false){
                alert("필수 약관에 동의 하셔야 다음 단계로 진행 가능합니다.");
                return;
            }else{
                location.href ="joinForm";
            }
        });

        $(".btn2").click(function(){
            if($("#chk_1").is(":checked") == false){
                alert("필수 약관에 동의 하셔야 다음 단계로 진행 가능합니다.");
                return;
            }else if($("#chk_2").is(":checked") == false){
                alert("필수 약관에 동의 하셔야 다음 단계로 진행 가능합니다.");
                return;
            }else if($("#chk_3").is(":checked") == false) {
                alert("필수 약관에 동의 하셔야 다음 단계로 진행 가능합니다.");
                return;
            }else if($("#chk_4").is(":checked") == false){
                alert("필수 약관에 동의 하셔야 다음 단계로 진행 가능합니다.");
                return;
            }else{
                location.href ="joinGymForm";
            }
        });
    });

    $(".backbtn").click(function (){
        location.href ="home";
    });
</script>
</html>