<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <script th:inline="javascript">
        $(function () {
            let m = [[${msg}]];//msg가 없으면 null.
            if(m != null){
                alert(m);
            }
        });
    </script>
</head>
<body>

</body>
</html>