<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>트레이너 상품 등록</title>
  <link rel="stylesheet" th:href="@{css/addition.css}">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <style>
    #file{
      display: none;
    }
    #preview{
      height: 500px;
    }
  </style>
</head>
<body>
<div>
  <form th:action="@{tMGoodsSave}" method="post" enctype="multipart/form-data">
    <div>
      <div id="content" class="content">
        <h2 class="info-title">상품 등록</h2>
        <div class="info-row">
          <span class="info-label">상품명:</span>
          <input type="text" name="tgoodsname" autofocus>
        </div>
        <div class="info-row">
          <span class="info-label">횟수:</span>
          <input type="text" name="tgoodsnum">
        </div>
        <div class="info-row">
          <span class="info-label">총 가격:</span>
          <input type="text" name="tgoodsprice">
        </div>
        <div class="info-row">
          <span class="info-label">추가사항:</span>
          <input type="text" name="tgoodscontents">
          <input type="hidden" name="membernum" th:value="${member.membernum}">
          <input type="hidden" name="gymnum" th:value="${member.gymnum}">
        </div>
      </div>
      <div>
        <input type="button" value="이전으로" th:onclick ="|back(${member.membernum})|">
        <input type="submit" value="저장하기">
      </div>
    </div>
  </form>
</div>
</body>
<script th:inline="javascript">
  $(function () {
    let m = [[${msg}]];//msg가 없으면 null
    if(m != null){
      alert(m);
    }
  });

  function back(membernum) {
    location.href = '/trainerGoods?membernum=' + membernum;
  }

</script>
</html>