<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PT 상품 결제</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" th:href="@{css/font.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/reset.css}">

    <script th:inline="javascript">
        $( function() {
            var today = new Date();
            var maxDate = new Date(today.getFullYear(), today.getMonth(), today.getDate() + 14);

            $( "#datepicker" ).datepicker({
                dateFormat: "yy-mm-dd",
                dayNamesMin: ['월','화','수','목','금','토','일'],
                minDate:0,
                maxDate: maxDate
            });
        } );
    </script>

</head>
<body class="renewal">
<div class="wrap">
    <div class="prod_info">
        <div class="title">
            상품 정보
        </div>
        <div class="prod_info_con">
            <div class="img" style="background: url(/images/1.png) no-repeat center; background-size: cover;"></div>
            <div class="info">
                <div class="tit" th:text="${train.mname}">
                </div>
                <div class="tit">
                    수업 일자
                </div>
                <p style="color: #d4d4d4">수업 일자 선택은 오늘부터 2주까지만 가능합니다!</p><br>
                <input type="text" class="date" id="datepicker" placeholder="날짜를 선택해 주세요." readonly>
                <div class="tit">
                    <p th:text="${#numbers.formatInteger(traingoods.tgoodsprice, 3, 'COMMA')+' 원'}"></p>
                </div>
                </div>
            </div>
        </div>
        <div class="kg_pay_btn">
            <button class="pay_btn" type="button" th:onclick="kg_request_pay()">결제하기</button>
        </div>
        <div class="ka_pay_btn">
            <button class="pay_btn" type="button" th:onclick="ka_request_pay()">카카오페이</button>
        </div>
    </div>
</div>
</body>

<script th:inline="javascript">

    function kg_request_pay() {
        //전달할 데이터
        var selectedDate = document.getElementById("datepicker").value;

        // datepicker가 선택되지 않은 경우 알림창 띄움
        if (selectedDate === "") {
            alert("운동 시작일을 선택해 주세요.");
            return;
        }

        //kg이니시스 결제 API
        var IMP = window.IMP; // 생략가능
        IMP.init('imp02008762');  // 가맹점 식별코드

        // IMP.request_pay(param, callback) 결제창 호출
        IMP.request_pay({
            pg: "html5_inicis",
            pay_method: "card",
            merchant_uid: "tpay_" + new Date().getTime(),   // 주문번호
            name: [[${train.mname}]] + [[${traingoods.tgoodsname}]],
            amount: [[${traingoods.tgoodsprice}]],                         // 숫자 타입
            buyer_email: [[${member.mmail}]],
            buyer_name: [[${member.mname}]],
            buyer_tel: [[${member.mphone}]]
        }, function (rsp) { // callback
            if ( rsp.success ) { //결제 성공시
                var msg = '결제가 완료되었습니다.';
                var result = {
                    "mpaynum" : rsp.merchant_uid,
                    "membernum" :[[${member.membernum}]],
                    "mpaymethod":rsp.pay_method,
                    "mpayproduct":rsp.name,
                    "mpayprice":rsp.paid_amount,
                    "mpaydate" : new Date().toISOString().slice(0, 10),
                    "mpaygym" : [[${gym.gname}]],
                    "mpayperiod" : selectedDate,
                    "mpaytime" : "",
                    "trainername":[[${train.mname}]],
                    "ggoodsnum": null,
                    "tgoodsint" : [[${traingoods.tgoodsint}]],
                    "gymnum" : [[${gym.gymnum}]]
                }
                console.log(result);

                $.ajax({
                    url:'insertTMPay',
                    type:'POST',
                    contentType: 'application/json',
                    data:JSON.stringify(result),
                    success: function (res) {
                        console.log(res);
                        location.href=res;
                    },
                    error: function (err) {
                        console.log(err);
                    }
                }); //ajax
            } else {
                var msg = '결제 실패';
                msg += '\n에러내용 : ' + rsp.error_msg;
            }
            alert(msg);
        });
    }

    function ka_request_pay(){
        //전달할 데이터
        var selectedDate = document.getElementById("datepicker").value;

        // datepicker가 선택되지 않은 경우 알림창 띄움
        if (selectedDate === "") {
            alert("운동 시작일을 선택해 주세요.");
            return;
        }

        //카카오 결제 API
        var IMP = window.IMP; // 생략가능
        IMP.init('imp02008762');  // 가맹점 식별코드
        // IMP.request_pay(param, callback) 결제창 호출

        IMP.request_pay({
            pg : 'kakaopay',
            pay_method: "kakaopay",
            merchant_uid: "tpay_" + new Date().getTime(), // 주문번호
            name : [[${train.mname}]] + [[${traingoods.tgoodsname}]],
            amount : [[${traingoods.tgoodsprice}]],
            buyer_email : [[${member.mmail}]],
            buyer_name : [[${member.mname}]],
            buyer_tel : [[${member.mphone}]]
        }, function(rsp) {
            if ( rsp.success ) {//결제 성공시
                var msg = '결제가 완료되었습니다.';
                var result = {
                    "mpaynum" : rsp.merchant_uid,
                    "membernum" :[[${member.membernum}]],
                    "mpaymethod":"kakaopay",
                    "mpayproduct":rsp.name,
                    "mpayprice":rsp.paid_amount,
                    "mpaydate" : new Date().toISOString().slice(0, 10),
                    "mpaygym" : [[${gym.gname}]],
                    "mpayperiod" : selectedDate,
                    "mpaytime" : "",
                    "trainername":[[${train.mname}]],
                    "ggoodsnum": null,
                    "tgoodsint" : [[${traingoods.tgoodsint}]],
                    "gymnum" : [[${gym.gymnum}]]
                }
                console.log(result);

                $.ajax({
                    url:'insertTMPay',
                    type:'POST',
                    contentType: 'application/json',
                    data:JSON.stringify(result),
                    success: function (res) {
                        console.log(res);
                        location.href=res;
                    },
                    error: function (err) {
                        console.log(err);
                    }
                }); //ajax
            } else {
                var msg = '결제 실패';
                msg += '\n에러내용 : ' + rsp.error_msg;
            }
            alert(msg);
        });
    }
</script>
</html>
