<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>트레이너 소개</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" th:href="@{css/font.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/reset.css}">

</head>
<body class="renewal">
<div class="wrap">
    <div class="prod_info">
        <div class="title">
            트레이너 소개
        </div>
        <div class="prod_info_con">
            <div class="img" style="background: url(/images/1.png) no-repeat center; background-size: cover;"></div>
            <div class="info">
                <div class="tit">트레이너
                    <div th:text="${train.mname}"></div>
                </div>
                <div class="addr" th:text="${gym.gname}">
                </div>
                <div class="addr">
                    경력사항
                    <div th:text="${train.tcareer}"></div>
                </div>
                <div class="addr">
                    자격사항
                    <div th:text="${train.tlicence}"></div>
                </div>
                <div>실시간 문의</div>
                <hr>
                <div class="ticket">
                    <div class="title">
                        PT
                    </div>
                    <ul class="ticket_list">
                        <li th:if="${#lists.isEmpty(tGList)}">
                            <p>등록된 상품이 없습니다.</p>
                        </li>
                        <li th:unless="${#lists.isEmpty(tGList)}" th:each="tGitem:${tGList}"
                            th:data-tgoodsname="${tGitem.tgoodsname}" th:data-tgoodsprice="${tGitem.tgoodsprice}" th:data-tgoodsint="${tGitem.tgoodsint}" th:if="${tGitem.tgoodsturn == true}">
                            <div>
                                <h5>
                                    <a th:href="@{trainerPay(membernum=${train.membernum})}" th:text="${tGitem.tgoodsname}"></a>
                                </h5>
                                <p th:text="${#numbers.formatInteger(tGitem.tgoodsprice, 3, 'COMMA') + ' 원'}"></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tit">헬스장 위치 안내</div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    $(document).ready(function () {
        $('.ticket_list li').click(function () {
            var tgoodsName = $(this).data('tgoodsname');
            var tgoodsPrice = $(this).data('tgoodsprice');
            var tgoodsInt = $(this).data('tgoodsint');
            var url = '/trainerPay?tgoodsint=' + tgoodsInt;
            window.location.href = url;
        });
    });
</script>
</html>
